@model Project1.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactDetails</title>
</head>
<body>
    <div>
        <h4>Contact</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AddressLine)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AddressLine)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Province)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Province)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "EditContact", new { id = Model.ContactId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
